<aside class="aside">
  <!--
  <select class="version-control">
    <option>V 0.1.0</option>
  </select>
  -->
  <ul class="menu">
    <li class="menu-item">
      <a href="#how-to-install"class="menu-link">
        How to install
      </a>
    </li>
    <li class="menu-item">
      <a href="#command-line"class="menu-link">
        Command Line
      </a>
    </li>
    <li class="menu-item">
      <a href="#module-usage"class="menu-link">
        Module Usage
      </a>
    </li>
    <li class="menu-item">
      <a href="#bnn-size"class="menu-link">
        bnn-size
      </a>
    </li>
    <li class="menu-item">
      <a href="#bnn-position"class="menu-link">
        bnn-position
      </a>
    </li>
    <li class="menu-item">
      <a href="#bnn-gradient"class="menu-link">
        bnn-gradient
      </a>
    </li>
    <li class="menu-item">
      <a href="#module-bundler"class="menu-link">
        Module Bundler
      </a>
    </li>
  </ul>
</aside>
