<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head-metas }}
  </head>
  <body>

    <a href="#" class="btn">Try yourself on Banana Playground</a>

    {{> aside }}

    <div class="container">
      {{> header }}
      {{{ contents }}}
    </div>

    {{> footer }}

  </body>
</html>
